* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(25, 25, 25);
    /*background-color: #191919;*/
}

.texto {
    color: rgba(255, 255, 255, 0.75);
    font-family: monospace;
    font-size: 25px;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    overflow: hidden;
    animation: cursor 1s infinite, digitacao 6s steps(40) 1s;
}

@keyframes cursor{
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

@keyframes digitacao {
    from {
        width: 0;
    }
    to {
        width: 570px;
    }
}
